@use "./mixin.scss" as mixin;

.checkbox {
    display: flex;
    align-items: center;
    margin: 15px 0;

    .checkbox__label {
        font-size: 14px;
        color: mixin.$dark-color;
        margin-left: 5px;
    }

    .checkbox__input {
        font-size: 14px;
        color: mixin.$dark-color;
        border: 1px solid mixin.$gray-color;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        transition: all 0.2s;

        &:focus {
            border: 1px solid mixin.$primary-color;
            box-shadow: 0 0 5px 0 mixin.$primary-color;
        }

        &:checked {
            background-color: mixin.$white-color;
            color: red;
            box-shadow: 0 0 5px 0 mixin.$primary-color;
        }
    }
}
